{%extends "base.html"%}
{% load materializecss %}
{%block conteudo%}

<main>
    <div class="row container">
        <div class="col s8 offset-s2">
            <form method="POST">
                {% csrf_token %}
                
                <div class="input-field">
                    <input id="icon_prefix" type="text"  name="username" class="validate">
                    <label for="icon_prefix">cpf</label> 
                </div>
                <div class="input-field">
                    <input id="icon_prefix" type="password"  name="password" class="validate">
                    <label for="icon_prefix">senha</label> 
                </div>
                
                <div class="row">
                    <div class="col s2 offset-s5">
                        <button class="btn waves-effect  indigo darken-3" type="submit" name="action">Submit
                            <i class="material-icons right">ios_share</i>
                        </button>
                    </div>
                </div>
            </form>
        </div> 
    </div>
</main>

 
{%endblock conteudo%}

{% block scripts%}

<script>

    $(document).ready(function(){
        $("#icon_prefix").mask("000.000.000-00");
    });

</script> 


{% endblock%}